@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

/* General Stuff */
* {
    font-family: 'Readex Pro', sans-serif;
}

body {
    text-align: center;
    margin: 0;
}

.title {
    color: #fe3c72;
    text-shadow: 2px 2px #0a66c2;
}

.main-button {
    color: white;
    background: linear-gradient(45deg, #0a66c2, #fe3c72);
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 16px;
    border: none;
    text-transform: capitalize;
}

.main-button:hover {
    background: linear-gradient(45deg, #fe3c72, #0a66c2);
}

.main-button:active {
    background: linear-gradient(45deg, #0a66c2, #fe3c72);
}

.main-button:disabled {
    background: linear-gradient(45deg, #0a66c27F, #fe3e747F);
}

.secondary-button {
    color: gray;
    background-color: white;
    font-size: 16px;
    font-weight: 500px;
    padding: 12px 28px;
    border-radius: 16px;
    border: solid black 2px;
    margin: 8px;
}

.secondary-button:hover {
    color: black;
}

.secondary-button:active {
    color: gray;
}

/* Nav Stuff */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .logo-container {
    width: 180px;
    margin: 12px;
}

nav .logo-container .logo {
    width: 100%;
}

nav .nav-button {
    color: black;
    background-color: white;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 12px;
    border: none;
    margin: 10px;
}

.nav-button:hover {
    background-color: rgb(215, 215, 215);
}

.nav-button:active {
    background-color: white;
}

.nav-button:disabled {
    background-color: rgb(215, 215, 215);
}

/* Home Page */

.home-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%),
        url('/images/bg.jpg');
}

/* Authentication Model */

.auth-model {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 360px;
    max-width: 360px;
    height: 600px;
    padding: 42px;
    background-color: white;
    border-radius: 12px;
}

.auth-model .close {
    float: right;
}
.auth-model .close:hover {
    cursor: pointer;
}

.auth-model form {
    display: flex;
    flex-direction: column;
}

.auth-model input {
    padding: 8px;
    margin: 8px;
    font-size: 18px;
}

/* Onboarding Page */

.onboarding form {
    display: flex;
    flex-direction: space-around;
    margin: auto;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 37.5%;
}

.onboarding form input {
    font-size: 16px;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 8px;
}

.onboarding form .multi-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.onboarding form .multi-input-container input[type="number"] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80px;
}

.onboarding form .multi-input-container div input {
    margin-right: 10px;
    float: left;
}

.onboarding form .multi-input-container div label {
    padding: 6px;
    padding-left: 0;
    float: right;
}

.onboarding form .text-input-container label {
    padding: 12px;
}

.onboarding form .photo-container img {
    width: 100%;
    max-height: 240px;
    object-fit: contain;
}

/* Dashboard Page */

